[data-theme^="light"],
[data-theme] [data-theme^="light"] {
  --main-color: rgb(0, 0, 0);
  --background-color: #fff;
  --box-color: lightgrey;
  --button-color: rgb(40, 204, 233);
  --button-text-color: rgb(0, 0, 0);
}

[data-theme^="dark"],
[data-theme] [data-theme^="dark"] nav {
  --main-color: #fff;
  --background-color: rgb(49, 49, 49);
  --sidebar-color: rgb(26, 26, 26);
  --box-color: grey;
  --button-color: rgb(177, 239, 250);
  --button-text-color: rgb(0, 0, 0);
}

body {
  color: var(--main-color);
  font-family: sans-serif;
  background-color: var(--background-color);
  margin-left: 4em;
  margin-top: 4rem;
  margin-right: 4em;
  margin-bottom: 10em;
}

.btn {
  background-color:  var(--button-color);
  border: none;
  color: var(--button-text-color);
  padding: 10px 10px;
  font-size: 14px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.w3-container .w3-round-large{
  color: var(--button-text-color);
  background: rgb(0, 217, 255);
}

.error-container{
  background: #f54f4f;
}

nav {
  color: var(--box-color);
  padding: 2em;
  background-color: var(--box-color);
}

.nav-wrapper {
  display: flex;
}

nav ul a,
nav .brand-logo {
  color: var(--main-color);
}

p {
  line-height: 2rem;
}

img{
  height: 4em;
  width: 4em;
}

.footer {
  background-color: var(--background-color);
  margin: 3em;
}
