[data-theme^="light"],
[data-theme] [data-theme^="light"] {
  --main-color: #000;
  --background-color: #fff;
  --box-color: lightgrey;
}

[data-theme^="dark"],
[data-theme] [data-theme^="dark"],
[data-theme="light-dark-sidebar"] nav {
  --blue-color: #1da1f2;
  --main-color: #fff;
  --background-color: #000;
  --sidebar-color: #333;
  --box-color: grey;
}

body {
  color: var(--main-color);
  font-family: sans-serif;
  background-color: var(--background-color);
  margin-left: 10em;
}

.w3-container .w3-round-large{
  background: red;
}

.error-container{
  background: #f02b2b;
}

nav {
  color: var(--main-color);
  padding: 2em;
  background-color: var(--sidebar-color);
  border-right: 1px solid #000;
}

nav ul a,
nav .brand-logo {
  color: var(--main-color);
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
